$top-bar-height: 150px;
$green: #9ACC01;
$green-dark: #658400;
$masthead-bg: #333;

//
// Typography
//

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}

h1.title {
  border-bottom: 2px solid #ccc;
}

pre.highlight {
  padding: 8px;
}

blockquote {
  margin-left: 2rem;
  margin-right: 2rem;
}

code.highlighter-rouge {
  background: #efefef;
  padding: 2px;
  padding-bottom: 0px;
}

.copyleft {
  display: inline-block;
  transform: scaleX(-1);
}

li.toc-entry ul, ul.section-nav { counter-reset: item }
li.toc-entry { display: block }
li.toc-entry:before { content: counters(item, ".") " "; counter-increment: item }
li.toc-entry a { padding-left: 0.5rem; }

strong span {
  color: $green-dark;
}

//
// Posts
//

.post {
  margin-bottom: 30px;
  .post-title {
    color: #555;
    font-weight: bold;
  }
  .post-date {
    font-weight: bold;
    a {
      color: $green-dark;
      text-decoration: underline;
      &:hover {
        color: $green;
      }
    }
    margin-top: -5px;
    margin-bottom: 10px;
  }
}

//
// Masthead
//

.masthead {
  background-color: $masthead-bg;
}

.masthead-content {
  height: $top-bar-height;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
  .masthead-logo {
    background-image: url($baseurl + "/assets/images/logo.svg");
    background-size: cover;
    height: 90px;
    width: 150px;
  }
  a.masthead-title {
    margin-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 60px;
    &:hover {
      text-decoration: none;
    }
    span {
      color: $green;
    }
  }
  .masthead-subtitle {
    margin-left: 20px;
    margin-top: -20px;
    color: #ccc;
  }
}

//
// Menu Navigation
//

.sidebar {
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav {
  margin-bottom: 20px;
  //margin-top: 10px;
  //margin-left: 10px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
  color: $green-dark;
  font-weight: 500;
  &.active {
    background-color: $masthead-bg !important;
    color: $green;
  }
}

.sidebar {
  a.nav-level-0 {padding-left: 1rem;}
  a.nav-level-1 {padding-left: 2rem;}
  a.nav-level-2 {padding-left: 3rem;}
  a.nav-level-3 {padding-left: 4rem;}
  a.nav-level-4 {padding-left: 5rem;}
}

.content-menu {
  padding-left: 1rem;
  //list-style: disc inside;
  li.nav-level-0 {margin-left: 1rem;}
  li.nav-level-1 {margin-left: 3rem;}
  li.nav-level-2 {margin-left: 5rem;}
  li.nav-level-3 {margin-left: 7rem;}
  li.nav-level-4 {margin-left: 9rem;}
}

//
// IMAGES
//

.text-over-image {
  position: relative;
  margin-bottom: $grid-gutter-width;
  .text {
    a {color: white}
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 36pt;
    font-weight: bold;
    line-height: 90%;
  }
}
