<header class="masthead">
  <nav class="masthead-content">
    <div class="masthead-logo"></div>
    <div>
      <a class="masthead-title" href="/">
        Calyx<span>OS</span>
      </a>
      <div class="masthead-subtitle">
        Secure and private Android for everyone
      </div>
    </div>
  </nav>
</header>
